<div class="container">
    <h1>Cadastro de Produto</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <input class="form-control" type="text" ngModel name="descricao" placeholder="Informe descrição" />
        <input class="form-control" type="text" ngModel name="preco" placeholder="Informe preco" />
        <input class="form-control mb-3" type="text" ngModel name="estoque" placeholder="Informe estoque" />
        <button class="btn btn-primary me-2">Salvar</button>
        <button (click)="limparMsg()" type="reset" class="btn btn-danger">Cancelar</button>
    </form>
    <label>{{ msg }}</label>
</div>

<div>
    <table class="table">
        <thead class="bg-success">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Açoes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produtos">
                <td> {{ prod.id }}</td>
                <td> {{ prod.descricao }}</td>
                <td> {{ prod.preco }}</td>
                <td> {{ prod.estoque }}</td>
                <td> <a [routerLink]="['/produtos',prod.id]"><i class="material-icons">mode_edit</i></a></td>
            </tr>
        </tbody>
    </table>
</div>