.container {
    width: 400px;
    margin: auto;
}

.entrada {
    width: 100%;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    margin-bottom: 3px;
    padding: 3px 2px 3px 3px;
}

button {
    margin-top: 3px;
    border: 1px solid red;
    padding: 3px;
    border-radius: 3px;
}

.salvar {
    background-color: white;
    color: blue;
}

.salvar:hover {
    background-color: blue;
    color: white;
}

.cancelar {
    background-color: white;
    color: red
}

.cancelar:hover {
    background-color: red;
    color: white;
}

table {
    width: 400px;
    margin: auto;
    border-collapse: collapse;
}

thead {
    background-color: forestgreen;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: silver;
}

tbody tr:hover {
    background-color: aqua;
    color: red;
}

td {
    padding: 5px;
}

th {
    padding: 8px;
    text-align: left;
}